@import '../../../../styles/variables';

.deck-container {
  width: 100%;

  .deck-header {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $primary-color-dark;
    border-radius: 6px 6px 0 0;
    margin: 0;

    .row {
      display: flex;
      flex-direction: row;
      width: 100%;

      .col {
        text-align: center;
        flex-basis: 50%;
      }
    }

    .add-button {
      margin-bottom: 1rem;
    }
  }

  .deck-body {
    .card-editor-wrapper {
      margin-top: 1px;
    }
  }

  .deck-footer {
    background-color: $primary-color-dark;
    display: flex;
    justify-content: center;
    border-radius: 0 0 6px 6px;
    padding: 1rem 0 0.75rem 0;
    margin-top: 1px;
    margin-bottom: 2rem;

    .col {
      display: flex;
      flex-direction: column;

      .mat-small {
        margin-top: 0.5rem;
      }
    }
  }
}