<div class="deck-container">
  <div class="deck-header mat-h2">
    <div class="row">
      <div class="col">
        DE
      </div>
      <div class="col">
        PL
      </div>
    </div>

    <button mat-mini-fab class="add-button" (click)="addCard()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <div class="deck-body">
    <div class="card-editor-wrapper" *ngFor="let card of cards; let loopIndex=index">
      <fdm-card-editor [card]="card" [index]="loopIndex" (cardChange)="handleCardChange($event, loopIndex)">
      </fdm-card-editor>
    </div>
  </div>

  <div class="deck-footer" *ngIf="cards.length > 0">
    <div class="col">
      <button mat-raised-button color="accent" (click)="export()">Export</button>
      <div class="mat-small">{{ cards.length }} flash card(s)</div>
    </div>
  </div>
</div>