<div class="deck-container" *ngIf="(deckQuery.cards$ | async) as cards">
  <div class="deck-header mat-h2">
    <div class="row">
      <div class="col">
        DE
      </div>
      <div class="col">
        PL
      </div>
    </div>

    <div class="buttons-container">
      <button mat-mini-fab (click)="deckService.addCard()">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-mini-fab color="warn" (click)="resetDeck()">
        <mat-icon>clear</mat-icon>
      </button>
    </div>
  </div>

  <div class="deck-body">
    <div class="card-editor-wrapper"
         *ngFor="let card of cards; let loopIndex=index; trackBy: trackByFn">
      <fdm-card-editor [card]="card" [index]="loopIndex" (cardChanged)="update($event)">
      </fdm-card-editor>
    </div>
  </div>

  <div class="deck-footer" *ngIf="cards.length > 0">
    <div class="col">
      <button mat-raised-button color="accent" (click)="export()">Export</button>
      <div class="mat-small">{{ cards.length }} flash card(s)</div>
    </div>
  </div>
</div>