@import '../../../../styles/variables';

.deck-container {
  width: 100%;

  .deck-header {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $primary-color-dark;
    border-radius: 6px 6px 0 0;
    margin: 0;

    .row {
      display: flex;
      flex-direction: row;
      width: 100%;

      .col {
        text-align: center;
        flex-basis: 50%;
      }
    }

    .buttons-container {
      margin-bottom: 1rem;

      button {
        margin: 0 0.5rem;
      }
    }
  }

  .deck-body {
    .card-editor-wrapper {
      margin-top: 1px;
    }
  }

  .deck-footer-container {
    // NOTE: It needs to have the same height as the deck-footer.
    // When deck-footer is sticked, deck-footer-container preserves 
    // the space for the default position of deck-footer.
    height: 92px;
    margin-bottom: 2rem;

    .deck-footer {
      background-color: $primary-color-dark;
      display: flex;
      justify-content: center;
      border-radius: 0 0 6px 6px;
      padding: 1rem 0 0.75rem 0;
      margin-top: 1px;
      
      &.sticky {
        position: fixed;
        bottom: 0;
        z-index: 100;
        box-shadow: 0 -2px 8px 0px rgba(0, 0, 0, 0.3);
        width: 900px;
        margin: 0;
      }

      .col {
        display: flex;
        flex-direction: column;

        .mat-small {
          margin-top: 0.5rem;
        }
      }
    }
  }
}