<form [formGroup]="form">
  <div class="row">
    <div class="col">
      <fdm-card-editor-input label="Word" [control]="word1Control">
        <textarea matInput formControlName="word1" cdkTextareaAutosize
                  cdkAutosizeMinRows="1" cdkAutosizeMaxRows="8"
                  [attr.tabindex]="baseTabIndex + 1" #firstInput>
        </textarea>
      </fdm-card-editor-input>

      <fdm-card-editor-input *ngIf="showExample" label="Example"
                             [control]="example1Control">
        <textarea matInput formControlName="example1" cdkTextareaAutosize
                  cdkAutosizeMinRows="1" cdkAutosizeMaxRows="8"
                  [attr.tabindex]="baseTabIndex + 3">
        </textarea>
      </fdm-card-editor-input>

      <fdm-card-editor-input *ngIf="showClarification" label="Clarification"
                             [control]="clarification1Control">
        <textarea matInput formControlName="clarification1" cdkTextareaAutosize
                  cdkAutosizeMinRows="1" cdkAutosizeMaxRows="8"
                  [attr.tabindex]="baseTabIndex + 5">
        </textarea>
      </fdm-card-editor-input>
    </div>

    <div class="mid-col">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_horiz</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngIf="!showExample" (click)="showExample = true">
          <mat-icon>add</mat-icon>
          <span>Add example</span>
        </button>
        <button mat-menu-item *ngIf="!showClarification"
                (click)="showClarification = true">
          <mat-icon>add</mat-icon>
          <span>Add clarification</span>
        </button>
      </mat-menu>
    </div>

    <div class="col">
      <fdm-card-editor-input label="Word" [control]="word2Control">
        <textarea matInput formControlName="word2" cdkTextareaAutosize
                  cdkAutosizeMinRows="1" cdkAutosizeMaxRows="8"
                  [attr.tabindex]="baseTabIndex + 2">
        </textarea>
      </fdm-card-editor-input>

      <fdm-card-editor-input *ngIf="showExample" label="Example"
                             [control]="example2Control">
        <textarea matInput formControlName="example2" cdkTextareaAutosize
                  cdkAutosizeMinRows="1" cdkAutosizeMaxRows="8"
                  [attr.tabindex]="baseTabIndex + 4">
        </textarea>
      </fdm-card-editor-input>

      <fdm-card-editor-input *ngIf="showClarification" label="Clarification"
                             [control]="clarification2Control">
        <textarea matInput formControlName="clarification2" cdkTextareaAutosize
                  cdkAutosizeMinRows="1" cdkAutosizeMaxRows="8"
                  [attr.tabindex]="baseTabIndex + 6">
        </textarea>
      </fdm-card-editor-input>
    </div>
  </div>
</form>