<form [formGroup]="form">
  <div class="row">
    <div class="col">
      <mat-form-field appearance="standard" color="accent" class="form-field">
        <mat-label>Word</mat-label>
        <input matInput formControlName="word1">
      </mat-form-field>
    </div>

    <div class="col">
      <mat-form-field appearance="standard" color="accent" class="form-field">
        <mat-label>Word</mat-label>
        <input matInput formControlName="word2">
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <mat-form-field appearance="standard" color="accent" class="form-field">
        <mat-label>Example</mat-label>
        <input matInput formControlName="example1">
      </mat-form-field>
    </div>

    <div class="col">
      <mat-form-field appearance="standard" color="accent" class="form-field">
        <mat-label>Example</mat-label>
        <input matInput formControlName="example2">
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <mat-form-field appearance="standard" color="accent" class="form-field">
        <mat-label>Clarification</mat-label>
        <input matInput formControlName="clarification1">
      </mat-form-field>
    </div>

    <div class="col">
      <mat-form-field appearance="standard" color="accent" class="form-field">
        <mat-label>Clarification</mat-label>
        <input matInput formControlName="clarification2">
      </mat-form-field>
    </div>
  </div>
</form>