@import '../../../../styles/variables';

form {
  background-color: $primary-color;

  .row {
    display: flex;
    flex-direction: row;

    .col {
      flex-grow: 1;
      padding: 0 1.5rem;

      .form-field {
        width: 100%;
      }
    }

    .mid-col {
      min-width: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}