<div class="floating-menu-trigger" [matMenuTriggerFor]="menu">
</div>

<mat-menu #menu="matMenu">
  <ng-template matMenuContent>
    <ng-container *ngTemplateOutlet="letterButtonTemplate; context: { letter: aUmlaut }"></ng-container>
    <ng-container *ngTemplateOutlet="letterButtonTemplate; context: { letter: oUmlaut }"></ng-container>
    <ng-container *ngTemplateOutlet="letterButtonTemplate; context: { letter: uUmlaut }"></ng-container>
    <ng-container *ngTemplateOutlet="letterButtonTemplate; context: { letter: eszett }"></ng-container>
  </ng-template>

  <ng-template #letterButtonTemplate let-letter="letter">
    <ng-container *ngIf="(letter.value | async) as letterValue">
      <button mat-menu-item (click)="letterSelect.emit(letterValue)">
        {{ letterValue }}
      </button>
    </ng-container>
  </ng-template>
</mat-menu>