@import 'variables';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: $light-primary-text;
  background-color: #303030;
}

.page-container {
  max-width: $page-width;
  margin: 0 auto;
}